<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success ">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <%if (!user) { %>
        <a class="nav-item nav-link" href="/login">Create New URL</a>
        <% }else{ %>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <%}%>
      </div>
        <div class="navbar">
        <%if (!user) { %>
        
         
          <a class="nav-item nav-link" style="color:whitesmoke" href="/login">Login</a>&nbsp;
       
          <a class="nav-item nav-link" style="color:white" href="/register">Register</a>
                <% }else{ %>
          <span>Authenticated as: <%= user.email %></span>
          <form action="/logout" method="POST">
              <button type="submit">Log Out</button>
          </form>
          <%}%>
        </div>
      
    </div>
  </nav>
</header>
