<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
  
  <h4>Already a user?<a href="/login">go back to login</a></h4> 
  <form method="POST" action="/register">
    <label>email</label>
    <input name="email" type="email" />
    <br />

    <label>password</label>
    <input name="password" type="password"/>
    <br />

    <button type="submit">Register User</button>
  </form>

  </body>
</html>
